    a,
a:link,
a:visited,
a:hover,
a:active {
    color: white; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}


html{
background-color: black;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: fantasy;
    text-transform: uppercase;


}

.container{
    width:100%;height:70%;margin:auto;overflow:hidden
}

#zero{
    margin-right:25px;
}
#one {
margin-left:25px;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.pic {
    vertical-align: middle;
    display: inline-block;
    width:90%;
}


#header { }

#footer span{
    text-align: center;
    width: 50%;
}
