


html{
background-color: black;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: fantasy;
    text-transform: uppercase;


}

.container{
    width:100%;height:70%;margin:auto;overflow:hidden
}

#zero{
    margin-right:25px;
}
#one {
margin-left:25px;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
}

.pic {
    vertical-align: middle;
    display: inline-block;
    width:90%;
}


#header { }

#footer span{
    text-align: center;
    width: 50%;
}
